@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

h3 {
  margin-left: 2rem;
  color: #afafaf;
  font-size: 1.4rem;

  @include tablet {
    padding: 0 3rem;
  }

  @include desktop {
    margin-left: 1.5rem;
    padding-left: 0;
  }
}
.videos-div {
  @include desktop {
    margin-left: 0;
    padding-left: 0;
    border-left: 2px solid #e1e1e1;
  }
}
