@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

.card {
  margin-left: 1rem;
  display: flex;

  @include tablet {
    padding: 0 3rem;
  }

  @include desktop {
    padding-left: 0;
  }

  &__images {
    margin: 1rem;
    width: 32%;
    height: 10rem;
    border-radius: 0.5rem;
  }

  &__title {
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1.8rem;

    @include tablet {
      width: 60%;
    }
  }

  &__channel {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }

  &__div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.nav__link {
  text-decoration: none;
  color: black;
}
