@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

form {
  border-bottom: 2px solid #e1e1e1;
  margin-bottom: 1rem;
  position: relative;
}

.form__button {
  display: block;
  width: 80%;
  padding: 1rem 0;
  font-family: "AvenirNext LT Pro", "Times New Roman", Times, serif;
  font-size: 1.5rem;
  font-weight: 800;
  color: #fff;
  background-color: #0095ff;
  border-color: #0095ff;
  border-radius: 0.5rem;
  margin: 1.5rem 5.5rem;
  position: relative;

  @include tablet {
    width: 40%;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.form__icon {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1rem;
  margin-top: 1.3rem;
}

textarea {
  width: 80%;
  border-radius: 0.5rem;
  border-color: #afafaf;
  background-color: #fafafa;
  font-family: "AvenirNext LT Pro", "Times New Roman", Times, serif;
  font-size: 1.5rem;
  height: 12rem;
  padding: 1rem 1rem;
  margin-top: 0.5rem;
  margin-left: 5.5rem;

  @include tablet {
    height: 4rem;
  }
}
::placeholder {
  color: black;
}

.comment-section {
  // @include tablet {
  //   margin: 0rem 5rem;
  // }

  // @include desktop {
  //   margin: 0rem 12rem;
  // }

  &__div {
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 4.7rem;
    margin-bottom: 0.8rem;
    justify-content: space-between;
  }

  &__header {
    color: #afafaf;
    margin-left: 5.5rem;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.2rem;

    // @include tablet {
    //   font-size: 2.8rem;
    //   padding-left: 0;
    // }

    // @include desktop {
    //   font-size: 3.2rem;
    //   padding-left: 0;
    // }
  }

  &__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 1.5rem;
    position: absolute;
  }

  &__name {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding-left: 1rem;
    margin: 0;
  }

  &__date {
    color: #afafaf;
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin: 0;
    margin-right: 2rem;

    // @include tablet {
    //   margin-left: 17rem;
    // }

    // @include desktop {
    //   margin-left: 31rem;
    // }
  }

  &__text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-bottom: 1.5rem;
    padding-left: 4rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    margin-top: 0;
    margin-left: 1.8rem;
    border-bottom: 2px solid #e1e1e1;
  }
}
.top {
  position: absolute;
}

.comment-section__count {
  margin-left: 1.4rem;
  font-weight: 600;
  font-size: 1.4rem;
  padding-bottom: 1rem;
}

.comment-section__styling {
  @include tablet {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
  }
}
